.icon-directory {
-fx-shape: "M18.405 2.799c-.112-.44-.656-.799-1.21-.799H2.805c-.555 0-1.099.359-1.21.799L1.394 4h17.211l-.2-1.201zM19.412 5H.587a.58.58 0 0 0-.577.635l.923 11.669a.77.77 0 0 0 .766.696H18.3a.77.77 0 0 0 .766-.696l.923-11.669A.58.58 0 0 0 19.412 5zm-7.47 7.521c-.128.265-.258.279-.202 0c.146-.721.047-2.269-1.043-2.441v3.294c0 .674-.311 1.262-1.136 1.528c-.802.256-1.699-.011-1.908-.586c-.21-.576.261-1.276 1.052-1.564c.442-.161.954-.203 1.299-.07V8h.694c-.001 1.633 2.818 1.275 1.244 4.521z";
-fx-background-color: black;
}

.icon-clock {
-fx-shape: "M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8zm.5-13H11v6l5.25 3.15l.75-1.23l-4.5-2.67z";
-fx-background-color: white;
}

.icon-playlist {
-fx-shape: "M17 3V1H2v2h15zm0 4V5H2v2h15zm-7 4V9H2v2h8zm7.45-1.96l-6 1.12c-.16.02-.19.03-.29.13c-.11.09-.16.22-.16.37v4.59c-.29-.13-.66-.14-.93-.14c-.54 0-1 .19-1.38.57s-.56.84-.56 1.38c0 .53.18.99.56 1.37s.84.57 1.38.57c.49 0 .92-.16 1.29-.48s.59-.71.65-1.19v-4.95L17 11.27v3.48c-.29-.13-.56-.19-.83-.19c-.54 0-1.11.19-1.49.57c-.38.37-.57.83-.57 1.37s.19.99.57 1.37s.84.57 1.38.57c.53 0 .99-.19 1.37-.57s.57-.83.57-1.37V9.6c0-.16-.05-.3-.16-.41a.428.428 0 0 0-.39-.15zM8 15v-2H2v2h6zm-2 4v-2H2v2h4z";
-fx-background-color: black;
}

.icon-playButton {
-fx-shape: "M106.854 106.002a26.003 26.003 0 0 0-25.64 29.326c16 124 16 117.344 0 241.344a26.003 26.003 0 0 0 35.776 27.332l298-124a26.003 26.003 0 0 0 0-48.008l-298-124a26.003 26.003 0 0 0-10.136-1.994z";
-fx-background-color: black;
}

.icon-pauseButton {
-fx-shape: "M15 19q-.825 0-1.412-.587Q13 17.825 13 17V7q0-.825.588-1.412Q14.175 5 15 5h2q.825 0 1.413.588Q19 6.175 19 7v10q0 .825-.587 1.413Q17.825 19 17 19Zm-8 0q-.825 0-1.412-.587Q5 17.825 5 17V7q0-.825.588-1.412Q6.175 5 7 5h2q.825 0 1.413.588Q11 6.175 11 7v10q0 .825-.587 1.413Q9.825 19 9 19Z";
-fx-background-color: black;
}

.icon-volume {
-fx-shape: "M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm13.517 4.134l-1.416-1.416A8.978 8.978 0 0 0 21 12a8.982 8.982 0 0 0-3.304-6.968l1.42-1.42A10.976 10.976 0 0 1 23 12c0 3.223-1.386 6.122-3.594 8.134zm-3.543-3.543l-1.422-1.422A3.993 3.993 0 0 0 16 12c0-1.43-.75-2.685-1.88-3.392l1.439-1.439A5.991 5.991 0 0 1 18 12c0 1.842-.83 3.49-2.137 4.591z";
-fx-background-color: black;
}

.icon-mute {
-fx-shape: "M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm14.525-4l3.536 3.536l-1.414 1.414L19 13.414l-3.536 3.536l-1.414-1.414L17.586 12L14.05 8.464l1.414-1.414L19 10.586l3.536-3.536l1.414 1.414L20.414 12z";
-fx-background-color: black;
}


.table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.slider {
    -fx-focus-color: transparent;
}

.slider .track {
      -fx-background-color: linear-gradient(to right, #AA96DA 100%, #969696 100%);
}

.menu-button {
    -fx-focus-color: transparent;
}

.list-cell {
    -fx-control-inner-background: #50577A;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
    -fx-border-width: 2.0;
}

.menu-button .arrow {
    -fx-background-color: black;
}

.bottom-rounded {
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}

.top-rounded {
    -fx-background-radius: 18 18 0 0;
    -fx-border-radius: 18 18 0 0;
}

.all-rounded {
    -fx-background-radius: 18 18 6 6;
    -fx-border-radius: 18 18 6 6;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#50577A 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white; /* Cor do texto das linhas da TableView */
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #50577A; /* Cor das linhas pares da TableView */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #50577A; /* Cor das linhas impares da TableView */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #005797; /* Cor da seleção da TableView */
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.list-cell:selected {
    -fx-background-color: #005797; /* Cor da seleção da ListView */
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.player-theme {
    -fx-background-color: linear-gradient(#404258 0%, #50577A 100%);
}